@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Work_for.works_for>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
    }

    .log {
        float: right;
    }
</style>
@section STitle {
    All Project
}

@if (Model == null)
{
    <h2>Project Not Found</h2>
}
else
{
    <form method="post" asp-action="AddDB" asp-controller="WorksFor">

        <select name="employeeId">
            <option>Select Employee</option>
            @foreach (var emp in ViewBag.employeeList)
            {
                <option value="@emp.Id">@emp.fname</option>
            }
        </select>

        <select name="projectId[]" multiple>
            <option>Select a Project</option>
            @foreach (var project in ViewBag.projectsWithoutEmployees)
            {
                <option value="@project.Id">@project.pname</option>
            }
        </select>

       
    @* @foreach (var project in ViewBag.projectsWithoutEmployees)
    {
            <input type="checkbox" name="projectId[]" value="@project.Id" id="@project.Id">

          <label>
                @project.pname
          </label> 
    } *@

        
          @*   @foreach (var project in ViewBag.projectsWithoutEmployees)
            {
                <label value="@project.Id">@project.pname</label>
        <input type="number" name="houres" placeholder="Enter Hours" />
            } *@
        
        <input type="number" name="houres" placeholder="Enter Hours" />

        <button type="submit" class="btn btn-success">Add</button>

    </form>
}
<br />
<br />
<br />
<a href="/employee/index" class="btn btn-success">
    Back To List
</a>