@model List<Work_for.works_for>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn {
        padding: 10px 20px; 
        border-radius: 5px; 
    }

    .log {
        float:right;
    }
</style>
@section STitle{
    All Project
}


@if (Model == null)
{
    <h2>Project Not Found</h2>
}
else
{
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Project Name</th>
            <th>Project Hours</th>
           
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.employee.fname</td>
                <td>@item.project.pname</td>
                @*  <td style="color: @(item.houres < 5 ? "red" : "green")">@item.houres</td>  *@
                <td style="color:@ViewData[$"color_{item.essn}_{item.pnum}"]">@item.houres</td>
            </tr>
        }
    </table>

   }
   <br />

<a href="/WorksFor/Add" class="btn btn-success">
    Add
</a>
<a href="/WorksFor/EditEmployeeProjects" class="btn btn-success">
    Edit
</a>
<a href="/employee/index" class="btn btn-success">
    Back To List
</a>